.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1366px;

  margin: 2rem auto 1rem;

  padding-bottom: 2rem;

  .headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    h1{
      font-size: 3.2rem;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: var(--title);

      padding-bottom: 1rem;
    }

    p{
      width: 100%;
      max-width: 51rem;

      font-size: 1.6rem;
      font-family: Roboto, sans-serif;
      color: var(--text);

      padding-bottom: 2rem;
    }
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    // width: 100vw;
    max-width: 1090px;
    flex-wrap: wrap;
    border: 1px solid red;


    .carousel-root{
      border: 1px solid red !important;
    }
  }
}

@media(max-width:768px){
  .content{
    .carousel-root{
      .carousel.carousel-slider{
        border: 1px solid red;
        width: 500px;
      }

    }

  }
}


