.recipesCardContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;

  max-width:52.8rem;
  max-height: 22.5rem;

  border-radius: 4px;

  background: var(--white);

  box-shadow: 0px 15px 20px rgba(29, 22, 77, 0.078);

  .recipesCardContent{
    padding: 0 2.5rem;

    h2{
      font-size: 2.4rem;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: var(--title);

      padding-bottom: 1.6rem;
    }
  }
}

@media (max-width:1024px) {
  .recipesCardContainer{
  max-width: 42.2rem;
  max-height: 18.1rem;

  margin:1rem 1rem; ;

  // border: 1px solid red;

    img{
      width: 45%;
      height: 45%;
    }

    .recipesCardContent{
      padding: 0 0 0 1.5rem;

      h2{
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width:800px) {
  .recipesCardContainer{
    max-width: 30.2rem;
    max-height: 18.1rem;
  }
}
