.readBlogCardContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 50vw;

  max-width:34.8rem;
  max-height: 45rem;

  border-radius: 4px;

  background: var(--white);

  box-shadow: 0px 15px 20px rgba(29, 22, 77, 0.078);

  .readBlogCardContent{
    padding: 2.5rem 2.5rem;

    h2{
      font-size: 2.4rem;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: var(--title);

      padding-bottom: 2.5rem;
    }
  }

  .readBlogCardPerfil{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img{
      width: 5.2rem;
      max-height: 5.2rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: -20% 0;
    }

    p{
      font-size: 1.6rem;
      font-family: Roboto, sans-serif;
      color: var(--text);

      padding-left: 1.5rem;
    }
  }
}
