.headerContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  max-width:1366px;

  margin-top: 2rem;

  position: absolute;
  top: 0;

  .wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    max-width:1090px;

    h1{
        color: var(--primary);
        font-size:3.2rem;
        font-family: Montserrat;
        font-weight: bold;
      }

      .navList{
        display:flex;
        justify-content:space-between;
        align-items:center;
        width:100vw;
        max-width: 45.5rem;

        .MobileNavigation{
          display:none;
        }

        nav{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
        ul{
          display:flex;
          justify-content:space-between;
          align-items:center;
          li{
            list-style:none;
            margin-right: 3.4rem;

            a{
              text-decoration:none;
              color:var(--white);
              font-size:1.6rem;
              font-family: Roboto, sans-serif;
              font-weight: bold;

              cursor: pointer;

              &:hover{
                color:var(--primary);
              }
            }
          }
        }
        }

        button{
          background: var(--white);
          color: var(--primary);
        }
        }
  }
}

  @media (max-width:1090px) {
    .headerContainer{
      .wrapper{
        padding: 0 1rem;
      }
    }
  }

  @media (max-width:880px){
    .headerContainer{
      position: absolute;
      z-index: 1;
      .wrapper{
        .navList{
          position: absolute;
          top: 0;
          right: 3%;

          max-width: 95%;
          .Navigation{
            display:none;
          }
          .MobileNavigation{
            display:flex;
            align-items: center;
            flex-direction: column;

            background: linear-gradient(185deg,rgba(64, 134, 79, 0.747) 0% ,rgba(186,220,88,1) 90% );

            ul{
              flex-direction: column;

              li{
                margin: 1.6rem;
              }
            }

            button{
              margin: 1.6rem;
            }

            .Hamburger{
              position: absolute;
              right: 3%;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
