.blogContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1366px;
  padding-bottom: 3rem;

  background:var(--white);

  margin: 0 auto;

  .blogImg{
    width:100%;
    max-width: 71.8rem;
    height: auto;

    img{
      width: 100%;
      height: auto;
    }
  }

  .blogContent{
    width: 100%;
    max-width: 41.2rem;
    padding-right: 2rem;

    h2{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      color: var(--title);

      padding-bottom: 3rem;
    }

    p{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      font-family: Roboto, sans-serif;
      color: var(--text);

      padding-bottom: 3rem;
    }
  }
}

@media (max-width:780px) {
  .blogContainer{
    justify-content:center;
    .blogContent{
      h2{
        font-size: 2.4rem;
        padding-bottom: 1.5rem;
      }
      p{
        font-size: 1.4rem;
        padding-bottom: 1rem;
      }
    }
  }
}

@media (max-width:630px){
  .blogContainer{
    .blogImg{
      display:none;
    }
    .blogContent{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      padding: 0 1rem;

      h2{
      text-align: center;

      }
    }
  }
}
